
@{
    ViewData["Title"] = "About";
}

<h1>@ViewData["About"]</h1>

<div class="text-center">
    <h1 class="display-4">About</h1>
    <p>Here we can provide some infos and documentation about our nice project</p>
</div>


