
@{
    ViewData["Title"] = "About";
}

<h1>@ViewData["About"]</h1>

<div class="text-center">
    <h1 class="display-4">About</h1>
    <h4>Our Project</h4>

    <p>This project is about creating a gateway to the digital world. We want to display different threedimensional models, created by students, using AR-Technology.
    
    Using the newest portable technology to scan real world manifestations of anchors such as a sculpture, we want to make it easier to show the work of students on exibitions.
    </p>

    <h4>This CMS</h4>

    <p>This page provides the Content-Management-System to Upload, Store and Provide the Models created by the students. Everybody can upload the model using the Upload Model function.
    It is created using ASP.NET Core 3.1 and runs on a Docker Engine.

    </p>

    <h4>The Team</h4>

    <p>Marlon Lückert - iOS Developer</p>
    <p>Julius Neudecker - Backend Developer</p>
    <p>Vincent Schnorr - Unity Developer</p>

</div>


