
@{
    ViewData["Title"] = "Upload";
}

<h1>@ViewData["Upload"]</h1>

<div class="test-center">
    <h1 class="display-4">Model Upload</h1>
    <p>The user can upload his 3D Model on this page. WIP.</p>
</div>


