
@{
    ViewData["Title"] = "QRCode";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>QRCode Redirect</h1>

<p>You came here from a QR-Code. </p>
<ul>
    <li>Scene Name: @ViewData["scene"]</li>
    <li>QR-Maker: @ViewData["uuid"]</li>
</ul>