@model cms.ar.xarchitecture.de.cmsXARCH.Scene

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Scene</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="_id" />
            <div class="form-group">
                <label asp-for="SceneName" class="control-label"></label>
                <input asp-for="SceneName" class="form-control" />
                <span asp-validation-for="SceneName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorldMapFileName" class="control-label"></label>
                <input asp-for="WorldMapFileName" class="form-control" />
                <span asp-validation-for="WorldMapFileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MarkerFileName" class="control-label"></label>
                <input asp-for="MarkerFileName" class="form-control" />
                <span asp-validation-for="MarkerFileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

