
@{
    ViewData["Title"] = "Curator Area";
}

<h1>@ViewData["Admin"]</h1>

<div class="text-left">
    <h1 class="display-4">Fresh Admin Panel</h1>

    <p>
        <a asp-controller="Scenes" asp-action="Index">Scene Overview</a>
    </p>
    <p>
        <a asp-controller="Studies" asp-action="Index">Studies Overview</a>
    </p>
    <p>
        <a asp-controller="Courses" asp-action="Index">Courses Overview</a>
    </p>
    <p>
        <a asp-controller="AssetTypes" asp-action="Index">AssetTypes Overview</a>
    </p>

    <p>
        <a asp-controller="Creators" asp-action="Index">Creators Overview (Only Temporary!)</a>
    </p>
    <p>
        <a asp-controller="Anchors" asp-action="Index">Anchors Overview (Only Temporary!)</a>
    </p>


</div>


