
@{
    ViewData["Title"] = "Curator Area";
}

<h1>@ViewData["Admin"]</h1>

<div class="text-left">
    <h1 class="display-4">Fresh Admin Panel</h1>

    <p>
        <a asp-controller="Scenes" asp-action="Create">Manage Scenes</a>
    </p>
    <p>
        <a asp-controller="StudyProgrammes" asp-action="Index">Studies Overview</a>
    </p>
    <p>
        <a asp-controller="Courses" asp-action="Index">Courses Overview</a>
    </p>

    @*<p>
        <a asp-controller="Creators" asp-action="Index">Creators Overview (Only Temporary!)</a>
    </p>*@

    <p>
        <a asp-controller="Assets" asp-action="Index">Scene Asset Table</a>
    </p>

    <p>
        <a asp-controller="Terms" asp-action="Index">Terms Overview</a>
    </p>


</div>


