@model cms.ar.xarchitecture.de.Models.Wrapper.AssetSubmissionValues

@{
    ViewData["Title"] = "Upload your 3D Model";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Upload here</h1>

<h4>SceneAsset</h4>

<div class="row">
    <div class="col-md-4">
        <form asp-action="UploadFile" method="post" enctype="multipart/form-data">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="creator" class="control-label"></label>
                <input asp-for="creator" class="form-control" />
                <span asp-validation-for="creator" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="programme" class="control-label"></label>
                <select asp-for="programme" class="form-control" asp-items="ViewBag.Programme"></select>
            </div>

            <div class="form-group">
                <label asp-for="course" class="control-label"></label>
                <select asp-for="course" class="form-control" asp-items="ViewBag.CourseName"></select>
            </div>

            <div class="form-group">
                <label asp-for="assetName" class="control-label"></label>
                <input asp-for="assetName" class="form-control" />
                <span asp-validation-for="assetName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Select your model!</label>
                <input asp-for="FileToUpload" id="fileButton" type="file" class="btn btn-primary" onchange="loadModel()" />
                <span asp-validation-for="FileToUpload"></span>
            </div>

            <div class="form-group">
                <p style="display: none;" id="laoding-model">Loading Model...</p>
                <div id="viewport" class="model-container"></div>
                <button type="button" onclick="grabThumbnail()" style="display: none;" id="thumbnail-screenshot" class="btn btn-primary">Take screenshot for thumbnail</button>
            </div>

            <div class="form-group thumbnail-container" style="display: none;">
                <span>Thumbnail:</span>
                <img id="thumbnail-image" alt="">
            </div>

            <input type="hidden" id="thumbnail" asp-for="tumbnailBase64" class="form-control" />


            <div class="form-group">
                <input id="submitBtn" type="submit" value="waiting..." class="btn btn-primary" disabled="disabled" />
            </div>


        </form>
    </div>
</div>


<script>
    function loadModel() {
        document.getElementById("laoding-model").style.display = "block";
        var file = document.getElementById('fileButton').files[0];
        const viewport = document.getElementById("viewport");
        var modelViewer = document.getElementsByTagName("model-viewer")[0];

        if (modelViewer == null) {
            modelViewer = document.createElement("model-viewer");
        }

        modelViewer.setAttribute("auto-rotate", "true");
        modelViewer.setAttribute("auto-rotate-delay", 6000);
        modelViewer.setAttribute("camera-controls", "true");
        modelViewer.setAttribute("loading", "eager");
        modelViewer.setAttribute("rotation-per-second", "50deg");

        viewport.appendChild(modelViewer);

        const reader = new FileReader();

        reader.addEventListener("load", function () {
            modelViewer.src = reader.result;
        }, false);

        if (file) {
            reader.readAsDataURL(file);
        }

        modelViewer.addEventListener("model-visibility", (evt) => {
            if (event.detail.visible) {
                document.getElementById("laoding-model").style.display = "none";
                enableScreenshot()
            }
        });
    }

    function enableScreenshot() {
        document.getElementById("thumbnail-screenshot").style.display = "block";
        document.getElementsByClassName("thumbnail-container")[0].style.display = "block";
        document.getElementById("submitBtn").value = "waiting for thumbnail..";
    }

    function enableSubmission() {

        document.getElementById("submitBtn").value = "Submit Model";
        document.getElementById("submitBtn").disabled = false;
    }

    function grabThumbnail() {
        //send api form data

        var modelViewer = document.getElementsByTagName("model-viewer")[0];
        var data = document.getElementById("thumbnail");
        data.value = modelViewer.toDataURL();
        document.getElementById("thumbnail-image").src = data.value;
        enableSubmission()
        //debugBase64(thumb);
    }

    function debugBase64(base64URL) {
        var win = window.open();
        win.document.write('<iframe src="' + base64URL + '" frameborder="0" style="border:0; top:0px; left:0px; bottom:0px; right:0px; width:100%; height:100%;" allowfullscreen></iframe>');
    }

</script>