@model cms.ar.xarchitecture.de.Models.AssetCreatorWrapperModel

@{
    ViewData["Title"] = "3D Model Data Upload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Upload your 3D-Model</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CreatorModel.Name" class="control-label">Your Name</label>
                <input asp-for="CreatorModel.Name" class="form-control" />
                <span asp-validation-for="CreatorModel.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SceneAssetModel.Course" class="control-label"></label>
                <select asp-for="SceneAssetModel.Course" class="form-control" asp-items="ViewBag.Course"></select>
            </div>
            <div class="form-group">
                <label asp-for="SceneAssetModel.Name" class="control-label">Give your model a name - like "Robot" or smth</label>
                <input asp-for="SceneAssetModel.Name" class="form-control" />
                <span asp-validation-for="SceneAssetModel.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SceneAssetModel.Filename" class="control-label">Drag File Here</label>
                <input asp-for="SceneAssetModel.Filename" class="form-control" />
                <span asp-validation-for="SceneAssetModel.Filename" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

